body {
    font-family: Arial, sans-serif;
    background-color: #cddcda;
    color: #333;
    padding: 10px;
    line-height: 1.6;
}

h1 {
    color: #1a73e8;
}
h2 {
    color: #43ce58;
}
p {
    color: #d85876;
}
img {
    width: 1000px;
    height : auto;
    border-radius: 0%;
    margin-bottom: 20px;
}

ul {
    list-style-type: round;
    color: #d85876;
}

a {
    text-decoration: none;
    color: #1a73e8;
}

